.color-lgtblue {
    color: #1da1f2;
}
.bg-color-lgtblue {
    background-color: #1da1f2;
    border: none;
}
.bg-color-lgtgrey
{
    background-color: #f9f3f3ea;
    border:none;
}
.color-grey {
    color: #c9c7c7;
}
.color-black {
    color: #000000;
}
.color-white {
    color: #ffffff;
}
.text-bold{
    font-weight: bold;
    color:black;
}
.span-float-left-inline{
    float: left;
    display: inline;
    /* text-align: center; */
}
.no-border{
    border: none;
}
.follow-btn {
    height: 40px;
    width: 75px;
    background-color: #1da1f2;
    border:none;
}
.wd-cog{
    bottom: 12px;
    right: 18px;
    color:#1da1f2;
}
.tab-selected{
    background-color:  #1da1f2;
    color: white;
    font-weight: bold;
}
.above-bottom-5{
    bottom: 0px;
}
.no-top-bottom-border{
    border-top: none;
    border-bottom: none;
}
.side-border{
    border-left: 1px solid #c9c7c7;
    border-right: 1px solid #c9c7c7;
}
.bottom-border{
    border-bottom: 1px solid #c9c7c7;
}
.top-border{
    border-top: 1px solid #c9c7c7;
}
.fw-bold{
    font-weight: bold;
    color: white;
}
.tuit-pic{
    border-radius: 15%;

}

